<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Peliculas SA | </title>
</head>

<header>  
    <form action="/movies/search" method="GET" >
        <label for='keywords'>Palabras: </label>
        <input type="text" name="keywords"  >
        <br>
        <button type="submit" > Buscar </button>
    </form>

</header>
    
        


